# Created by .ignore support plugin (hsz.mobi)
### Generic template
# Allure report
.allure/*
.allure
allure-results/

.settings/
.classpath
.project

# IntelliJ #
############
*.iml
*.ipr
*.iws
.idea
.idea/
.idea/*
.idea_modules/

# Other IDE's#
##############
\.classpath
\.project
\.settings
\.dorsync
/nbactions.xml
.factorypath
bin/
.settings/*


# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.nar
*.ear
*.tar.gz

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.config
.metadata/

# Maven #
#########
**/target/*
target
target/
bin/
build/
test-output/
out/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml
###############################


### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# *.ipr



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# End of https://www.gitignore.io/api/java,gradle,intellij
/.apt_generated/





app.js
failure.html
node_modules/.bin/
node_modules/@sindresorhus/
node_modules/@szmarczak/
node_modules/@types/
node_modules/abbrev/
node_modules/accepts/
node_modules/ajv/
node_modules/ansi-align/
node_modules/ansi-regex/
node_modules/ansi-styles/
node_modules/anymatch/
node_modules/array-flatten/
node_modules/asn1/
node_modules/assert-plus/
node_modules/asynckit/
node_modules/aws-sign2/
node_modules/aws4/
node_modules/balanced-match/
node_modules/bcrypt-pbkdf/
node_modules/binary-extensions/
node_modules/body-parser/
node_modules/boxen/
node_modules/brace-expansion/
node_modules/braces/
node_modules/bytes/
node_modules/cacheable-request/
node_modules/camelcase/
node_modules/caseless/
node_modules/chalk/
node_modules/chokidar/
node_modules/ci-info/
node_modules/cli-boxes/
node_modules/clone-response/
node_modules/color-convert/
node_modules/color-name/
node_modules/combined-stream/
node_modules/concat-map/
node_modules/configstore/
node_modules/content-disposition/
node_modules/content-type/
node_modules/cookie-signature/
node_modules/cookie/
node_modules/core-util-is/
node_modules/crypto-random-string/
node_modules/dashdash/
node_modules/debug/
node_modules/decompress-response/
node_modules/deep-extend/
node_modules/defer-to-connect/
node_modules/delayed-stream/
node_modules/depd/
node_modules/destroy/
node_modules/dot-prop/
node_modules/duplexer3/
node_modules/ecc-jsbn/
node_modules/ee-first/
node_modules/emoji-regex/
node_modules/encodeurl/
node_modules/end-of-stream/
node_modules/escape-goat/
node_modules/escape-html/
node_modules/etag/
node_modules/express/
node_modules/extend/
node_modules/extsprintf/
node_modules/fast-deep-equal/
node_modules/fast-json-stable-stringify/
node_modules/fill-range/
node_modules/finalhandler/
node_modules/forever-agent/
node_modules/form-data/
node_modules/forwarded/
node_modules/fresh/
node_modules/fsevents/
node_modules/get-stream/
node_modules/getpass/
node_modules/glob-parent/
node_modules/global-dirs/
node_modules/got/
node_modules/graceful-fs/
node_modules/har-schema/
node_modules/har-validator/
node_modules/has-flag/
node_modules/has-yarn/
node_modules/http-cache-semantics/
node_modules/http-errors/
node_modules/http-signature/
node_modules/iconv-lite/
node_modules/ignore-by-default/
node_modules/import-lazy/
node_modules/imurmurhash/
node_modules/inherits/
node_modules/ini/
node_modules/ipaddr.js/
node_modules/is-binary-path/
node_modules/is-ci/
node_modules/is-extglob/
node_modules/is-fullwidth-code-point/
node_modules/is-glob/
node_modules/is-installed-globally/
node_modules/is-npm/
node_modules/is-number/
node_modules/is-obj/
node_modules/is-path-inside/
node_modules/is-typedarray/
node_modules/is-yarn-global/
node_modules/isstream/
node_modules/jsbn/
node_modules/json-buffer/
node_modules/json-schema-traverse/
node_modules/json-schema/
node_modules/json-stringify-safe/
node_modules/jsprim/
node_modules/keyv/
node_modules/latest-version/
node_modules/lowercase-keys/
node_modules/make-dir/index.d.ts
node_modules/make-dir/index.js
node_modules/make-dir/license
node_modules/make-dir/node_modules/.bin/
node_modules/make-dir/node_modules/semver/CHANGELOG.md
node_modules/make-dir/node_modules/semver/LICENSE
node_modules/make-dir/node_modules/semver/README.md
node_modules/make-dir/node_modules/semver/package.json
node_modules/make-dir/node_modules/semver/range.bnf
node_modules/make-dir/node_modules/semver/semver.js
node_modules/make-dir/package.json
node_modules/make-dir/readme.md
node_modules/media-typer/
node_modules/merge-descriptors/
node_modules/methods/
node_modules/mime-db/
node_modules/mime-types/
node_modules/mime/
node_modules/mimic-response/
node_modules/minimatch/
node_modules/minimist/
node_modules/ms/
node_modules/negotiator/
node_modules/nodemon/.jscsrc
node_modules/nodemon/.jshintrc
node_modules/nodemon/.travis.yml
node_modules/nodemon/LICENSE
node_modules/nodemon/README.md
node_modules/nodemon/commitlint.config.js
node_modules/nodemon/doc/
node_modules/nodemon/lib/
node_modules/nodemon/node_modules/
node_modules/nodemon/package.json
node_modules/nopt/.npmignore
node_modules/nopt/LICENSE
node_modules/nopt/README.md
node_modules/nopt/examples/
node_modules/nopt/lib/
node_modules/nopt/package.json
node_modules/normalize-path/
node_modules/normalize-url/
node_modules/oauth-sign/
node_modules/on-finished/
node_modules/once/
node_modules/p-cancelable/
node_modules/package-json/index.d.ts
node_modules/package-json/index.js
node_modules/package-json/license
node_modules/package-json/node_modules/.bin/
node_modules/package-json/node_modules/semver/CHANGELOG.md
node_modules/package-json/node_modules/semver/LICENSE
node_modules/package-json/node_modules/semver/README.md
node_modules/package-json/node_modules/semver/package.json
node_modules/package-json/node_modules/semver/range.bnf
node_modules/package-json/node_modules/semver/semver.js
node_modules/package-json/package.json
node_modules/package-json/readme.md
node_modules/parseurl/
node_modules/path-to-regexp/
node_modules/performance-now/
node_modules/picomatch/
node_modules/prepend-http/
node_modules/proxy-addr/
node_modules/psl/
node_modules/pstree.remy/
node_modules/pump/
node_modules/punycode/
node_modules/pupa/
node_modules/qs/
node_modules/range-parser/
node_modules/raw-body/
node_modules/rc/
node_modules/readdirp/
node_modules/registry-auth-token/
node_modules/registry-url/
node_modules/request/
node_modules/responselike/
node_modules/safe-buffer/
node_modules/safer-buffer/
node_modules/semver-diff/index.d.ts
node_modules/semver-diff/index.js
node_modules/semver-diff/license
Would
remove node_modules/semver-diff/node_modules/.bin/
node_modules/semver-diff/node_modules/semver/CHANGELOG.md
node_modules/semver-diff/node_modules/semver/LICENSE
node_modules/semver-diff/node_modules/semver/README.md
node_modules/semver-diff/node_modules/semver/package.json
node_modules/semver-diff/node_modules/semver/range.bnf
node_modules/semver-diff/node_modules/semver/semver.js
node_modules/semver-diff/package.json
node_modules/semver-diff/readme.md
node_modules/semver/CHANGELOG.md
node_modules/semver/LICENSE
node_modules/semver/README.md
node_modules/semver/package.json
node_modules/semver/range.bnf
node_modules/semver/semver.js
node_modules/send/
node_modules/serve-static/
node_modules/setprototypeof/
node_modules/signal-exit/
node_modules/sshpk/.npmignore
node_modules/sshpk/.travis.yml
node_modules/sshpk/LICENSE
node_modules/sshpk/README.md
node_modules/sshpk/lib/
node_modules/sshpk/man/
node_modules/sshpk/package.json
node_modules/statuses/
node_modules/string-width/
node_modules/strip-ansi/
node_modules/strip-json-comments/
node_modules/supports-color/
node_modules/term-size/index.d.ts
node_modules/term-size/index.js
node_modules/term-size/license
node_modules/term-size/package.json
node_modules/term-size/readme.md
node_modules/term-size/vendor/macos/term-size
node_modules/to-readable-stream/
node_modules/to-regex-range/
node_modules/toidentifier/
node_modules/touch/LICENSE
node_modules/touch/README.md
node_modules/touch/index.js
node_modules/touch/package.json
node_modules/tough-cookie/
node_modules/tunnel-agent/
node_modules/tweetnacl/
node_modules/type-fest/
node_modules/type-is/
node_modules/typedarray-to-buffer/
node_modules/undefsafe/
node_modules/unique-string/
node_modules/unpipe/
node_modules/update-notifier/
node_modules/uri-js/
node_modules/url-parse-lax/
node_modules/utils-merge/
node_modules/uuid/AUTHORS
node_modules/uuid/CHANGELOG.md
node_modules/uuid/LICENSE.md
node_modules/uuid/README.md
node_modules/uuid/index.js
node_modules/uuid/lib/
node_modules/uuid/package.json
node_modules/uuid/v1.js
node_modules/uuid/v3.js
node_modules/uuid/v4.js
node_modules/uuid/v5.js
node_modules/vary/
node_modules/verror/
node_modules/widest-line/
node_modules/wrappy/
node_modules/write-file-atomic/
node_modules/xdg-basedir/
package-lock.json
package.json
signup.html
success.html
